* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: azure;
}

.main {
  width: 25vw;
  margin: 80px auto;
  background-color: rgb(186, 201, 196);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

h2 {
  margin: 20px;
}

form input {
  border: none;
  outline: none;
  padding: 10px;
  width: 80%;
  margin: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 17px;
}
.selector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.selector i {
  margin-top: 20px;
}

.from select {
  border: none;
  outline: none;
  background-color: transparent;
}
.dropDown {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.dropDown img {
  width: 30px;
}

.exchangeImg img{
    margin-top: 20px;
    width: 40px;
    height: 40px;
}

.msg {
  border: 2px solid white;
  background-color: black;
  color: white;
  padding: 10px;
  width: 80%;
  margin: auto;
}

.btn {
  margin: 20px;
  border: 2px solid black;
  outline: none;
  background-color: rgb(179 160 122);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}

.hide {
  display: none;
}

@media only screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 700px;
  }
  h2 {
    font-size: 35px;
  }
  form {
    height: 80%;
    width: 90%;
  }

  form input {
    width: 85%;
    height: 35px;
    font-size: 35px;
  }
  .selector {
    margin: 35px 0;
  }
  .from h4{
    font-size: 25px;
  }
  .dropDown {
    width: 110px;
    height: 40px;
    margin-top: 15px;
}
  
.dropDown img {
    width: 40px;
  }
  .from select{
    font-size: 23px;

  }
  .exchangeImg img{
    margin-top: 40px;
    width: 40px;
    height: 40px;
}
.msg {
 height: 40px;
 font-size: 25px;
 text-align: center;
 align-content: center;

  }
  .btn{
    font-size: 23px;
    margin-top: 40px;
  }
 
}
